{% schema %}
{
  "name": "Services",
  "settings": []
}
{% endschema %}

<div class="services">
  <h1>{{ page.title }}</h1>
  <div>{{ page.content }}</div>
</div>

{% style %}
  .services {
    width: 800px;
    margin: auto;
  }
  .services h1{
    font-size: 50px;
  }
{% endstyle %}
